p {
  color: blue;
  font-family: Arial;
  border: 4px dashed #20bcd5;
  padding 10px;
  text-align: center;
}
h1 {
	text-shadow: 2px 1px 2px grey;
	font-family: cursive;
	text-align: center;
	  color: 20bcd5;
}
#body {
	
  background-image: url("27572074bb4429c.jpg");
  border: 1px solid #cacaca;
	
}
	#menu{
	border : 1px white;	
	margin-left: 150px;
		
	} 

    #button1 ,#button2 , #button3, #button4 , #button5 {
	text-shadow: 1px 1px 1px grey;
	font-weight: bold;
	margin-left: 50px ;
	vertical-align : -80px;
	font-size : 25px;
	background-color: white;
	 color: 20bcd5;
	font-color:white;
	border: 2px dashed #20bcd5;
	padding 10px;
	display:inline-table;
}
