* {
  margin: 0;
  padding: 0;
}
div.fwrap{
	background-color:black;
	width:100%+20px;
	margin-left:-10px;
	margin-right:-10px;
	margin-top:-10px;
}
div.wrap{
	background-color:#FFCC33;
	width:100% +20px;
	height:80px;
	margin-left:-10px;
	margin-right:-10px;
	position:relative;
}
img.home{
	width:80px;
	height:80px;
	position:absolute; /* không thể dùng relative bởi vì cái div.wrap bao quanh nó đã là relative, nếu giống sẽ thừa hưởng vị trí của cái relative ở trên luôn */
	left:80px;
	display:block;
}
img.tuanvietsite{
position: absolute;
left:500px;
top:15px;
display:block;
}
div.menu{
	width:100% +20px;
	height:40px;
	background-color:#880000;
	margin-right:-10px;
	margin-left:-10px;
}
.menu ul{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.menu ul li{	
	 width: 120px;
     height: 40px;
     line-height: 40px;
     margin-left: -5px;
	 color: white;
	 list-style-type: none;
	 display: inline-table;
}
.menu ul  li > a{	
    display:block;
	text-decoration:none;
	color:white;
}
* {
  margin: 0;
  padding: 0;
}	
.menu ul li a:hover{
	background: #FFCC33;
    color: black;
}
.menu ul li ul li a{
	background-color:#FFCC33;
	color: black;
}

.menu ul li ul li a:hover{
	background: #880000;
    color: white;
	display:block;
}

.menu ul li .sub-menu{
	display:none;
}
.menu ul li:hover .sub-menu{
	display:block;
}
/*------------------------------------------- body------------------------*/


div.banner {
	background-color: #EEEEEE;
	height:100px;
}
div.content {
	background-color:#FFCC99;
	width:45%;
	height:500px;
	margin-left:180px;
	float:left;
}
div.advertise {
	background-color:#FFFF99;
	float:left;
	width:20%;
	height:500px;
	
}




